name: Unit test

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - ".vscode/**"


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          restore-cache: false
          save-cache: false
          cache-python: true

      - name: Run tests
        run: |
          uv sync
          uv run pytest .
